<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout/layout">
<body>
<div layout:fragment="content">
    <div class="pageTitle">
        公司管理 <i class="dot"></i> 员工管理
    </div>
    <div class="content">
        <form id="searchForm" class="toolDiv" method="post">
            <div class="row1" id="searchPanel">
                <span>搜索员工</span>
                <input type="text" placeholder="员工姓名" id="name">
                <input type="text" placeholder="手机号" id="mobile">
                <button type="button" class="query-btn" id="queryBtn" data-type="reload"><i class="query"></i>查询</button>
                <button type="button" class="clear-btn" onclick="resetData();">清空</button>
            </div>
            <div class="row2" id="toolbar">
                <button type="button" class="add" onclick="window.location.href = '/employee/addpage';"><i></i>新增</button>
                <button type="button" class="edit btn-type" data-type="editItem"><i></i>修改</button>
                <button type="button" class="delete btn-type" data-type="deleteItem"><i></i>删除</button>
            </div>
        </form>
        <table class="layui-hide" id="companyEmpTbl" ></table>
    </div>

    <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="/lib/layui/css/layui.css">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/company_manage.css">


    <script src="/js/jquery-2.1.4.js"></script>
    <script src="/lib/bootstrap/js/bootstrap.js"></script>
        <script src="/js/base.js"></script>
    <script src="/lib/layui/layui.all.js"></script>
    <script type="text/javascript">
        layui.use('table',function(){
            var table = layui.table;

            var data = [
                {type:'checkbox'}
                ,{field: 'id',title: "员工ID",sort:true}
                ,{field: 'name',title: "姓名"}
                ,{field: 'mobile',title: "手机号"}
                ,{field: 'sex',title: "性别",sort:true}
                ,{field: 'age',title: "年龄",sort:true}
                ,{field: 'education',title: "学历"}
                /*,{field: 'age',title: "备注"}*/
            ];

            //数据库中读取已知数据
            table.render({
                elem: '#companyEmpTbl'
                ,url: '/employee/search'
                ,method: 'post'
                ,cols: [data]
                ,even: true
                ,page: true
//                ,limits: [5,10,20]
                ,request:{
                    limitName: 'rows'
                }
                ,response:{
                    dataName:'data',
                    dataSecName:'rows',
                    statusCode: 200,
                    countName: 'total'
                }
                ,id:"testReload"
            });

            var $ = layui.$, active = {
                reload: function(){
                    //执行重载
                    table.reload('testReload', {
                        page: {
                            curr: 1 //重新从第 1 页开始
                        }
                        ,where: {
                            mobile: $('#mobile').val(),
                            name: $('#name').val(),
                        }
                    });
                },
                //修改
                editItem: function () { //获取选中数据
                    var checkStatus = table.checkStatus('testReload')
                        , data = checkStatus.data;
                    if(data.length >1){
                        layer.msg("不能选择多个对象")
                    }else if(data.length == 0){
                        layer.msg("请选择一个对象")
                    }else {
                        var id = data[0].id
                        window.location.href="/employee/updatepage/"+id;
                    }
                },
                //删除
                deleteItem: function () {
                    var checkStatus = table.checkStatus('testReload')
                        , data = checkStatus.data;
                    if(data.length >1){
                        layer.msg("不能选择多个对象")
                    }else if(data.length == 0){
                        layer.msg("请选择一个对象")
                    }else {
                        layer.confirm('确定要删除该员工吗？',{
                            btn:['是','否']
                        },function () {
                            $.ajax({
                                url:'/employee/delete/'+data[0].id,
                                dataType:'json',
                                data:{},
                                type:'POST',
                                success:function(obj){
                                    if(obj.code === '200'){
                                        layer.msg('删除成功');
                                        resetData();
                                    }else{
                                        layer.msg(obj.msg);
                                    }
                                },error: function(){ //失败
                                    layer.alert("服务器内部错误");
                                }
                            });
                        })
                    }
                }
            };

            //查询
            $('#queryBtn, .btn-type').on('click', function(){
                var type = $(this).data('type');
                active[type] ? active[type].call(this) : '';
            });
        });

        function resetData(){
            $('#searchForm')[0].reset();
                        $('#queryBtn').click();
        }
    </script>
</div>
</body>

</html>