.content {
  padding-left: 14px;
}
.content .title {
  margin-top: 19px;
  font: 14px/20px 'PingFangSC-Medium';
  color: #333;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
}
.content .title .title_sub {
  font: 12px/20px 'PingFangSC-Regular';
  color: #151515;
}
.content .title.line {
  border-top: 1px dashed #DDDDDD;
  padding-top: 10px;
  margin-right: 20px;
}
.content .title i.shuxian {
  width: 2px;
  height: 12px;
  background-color: #ccc;
  margin: 0 12px;
}
.content .title input[type=checkbox] {
  margin-right: 4px;
  width: 14px;
  height: 14px;
  background: url("../img/many_unselect@2x.png") no-repeat;
  background-size: 100%;
}
.content .title input[type=checkbox]:checked {
  background: url("../img/many_select@2x.png") no-repeat;
  background-size: 100%;
}
.content .title input[type=checkbox] + label {
  font: 12px/17px 'PingFangSC-Regular';
  color: #333;
}
.content ul {
  margin-top: 16px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  flex-wrap: wrap;
  margin-left: 14px;
  max-width: 700px;
}
.content ul.faren li {
  width: 330px;
}
.content ul.base {
  max-width: 900px;
}
.content ul.base li input {
  width: 140px;
}
.content ul.base li span {
  font: 12px/17px 'PingFangSC-Regular';
  color: #333;
}
.content ul.base li.floor {
  position: relative;
}
.content ul.base li.floor span {
  position: absolute;
  right: 9px;
}
.content ul.base li.mianji span {
  margin-left: 10px;
}
.content ul li {
  display: -webkit-box;
  display: flex;
  height: 52px;
  -webkit-box-align: center;
          align-items: center;
}
.content ul li.addr input {
  width: 548px;
}
.content ul li i.warn {
  margin-left: 10px;
  font-style: normal;
  content: '';
  width: 8px;
  height: 20px;
  color: #d7352c;
  font: 14px/20px 'PingFangSC-Regular';
  margin-right: 30px;
}
.content ul li label {
  font: 12px/17px 'PingFangSC-Regular';
  color: #333;
  text-align: right;
  width: 60px;
}
.content ul li label.radioLabel {
  font: 14px/20px 'PingFangSC-Regular';
  width: 28px;
}
.content ul li textarea {
  border: 1px solid #ccc;
  height: 62px;
  width: 320px;
  padding-left: 10px;
  border-radius: 2px;
  font: 12px/17px 'PingFangSC-Regular';
  padding-top: 5px;
}
.content ul li textarea::-webkit-input-placeholder {
  color: #CCCCCC;
}
.content ul li textarea:-moz-placeholder {
  color: #CCCCCC;
}
.content ul li textarea::-moz-placeholder {
  color: #CCCCCC;
}
.content ul li textarea:-ms-input-placeholder {
  color: #CCCCCC;
}
.content input {
  border: 1px solid #ccc;
  height: 32px;
  width: 220px;
  padding-left: 10px;
  border-radius: 2px;
  font: 12px/17px 'PingFangSC-Regular';
}
.content input::-webkit-input-placeholder {
  color: #CCCCCC;
}
.content input:-moz-placeholder {
  color: #CCCCCC;
}
.content input::-moz-placeholder {
  color: #CCCCCC;
}
.content input:-ms-input-placeholder {
  color: #CCCCCC;
}
.content input[type="radio"] {
  width: 20px;
  height: 20px;
  margin-left: 22px;
  margin-right: 10px;
  background: url("../img/radio_unselect@2x.png") no-repeat;
  background-size: 100%;
}
.content input[type="radio"]:checked {
  background: url("../img/radio_select@2x.png") no-repeat;
  background-size: 100%;
}
.content .hetong.line {
  padding-top: 26px;
}
.content .hetong label {
  font: 12px/17px 'PingFangSC-Regular';
  width: 80px;
}
.content button {
  background: #2476E9;
  border-radius: 2px;
  width: 200px;
  height: 32px;
  color: white;
  font: 14px/20px 'PingFangSC-Regular';
  margin-left: 154px;
  margin-top: 40px;
}
.content button {
  margin-bottom: 60px;
}
