.content {
    padding-left: 16px;
}

.categoryTitle{
    width: 100%;
    text-align: center;
    font-size: 12px;
    padding-top: 20px;
}
.categoryTitle .unfocus {
    margin: 0 28px;
    color: #999;
}
.categoryTitle .focus {
    color: #2476e9;
    margin: 0 38px;
}
.categoryTitle img {
    margin-top: 6px;
    width: 308px;
}
.house_basic{
    margin-top: 20px;
}
.house_basic .query-title{
    margin-top: 20px;
    margin-bottom: 20px;
    color:#333;
    font: 14px/20px 'PingFangSC-Medium';
}

.items{
    display: flex;
}

.items .item{
    display: flex;
    width: 120px;
    height:28px;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    border-radius: 2px;
}
.items .item span{
    font:12px/17px 'PingFangSC-Regular';
}
.items .download{
    color:#1AAD19;
    border:1px solid #1AAD19;
}
.items .upload{
    color:#2476E9;
    border:1px solid #2476E9;
}

.items i{
    width: 19px;
    height: 19px;
    background-color: red;
    margin-right: 4px;
}
.items .download i{
    background: url("../img/download@2x.png") no-repeat;
    background-size: 100%;
}
.items .upload i{
    background: url("../img/upload@2x.png") no-repeat;
    background-size: 100%;
}
/*.house_message .textInput{*/
    /*border: 1px solid #ddd;*/
    /*font-size: 12px;*/
    /*border-radius: 2px;*/
    /*!*width: 200px;*!*/
    /*padding-left: 10px;*/
    /*height: 32px;*/
    /*padding: 0 0 0 10px;*/
/*}*/
.floor_set{float: left; margin-right: 20px;}
.floor_set .lab{font-size: 12px; color: #666}
.house_basic h2{
    font-size: 14px;
    color: #333333;
    padding-bottom: 15px;
}
.house_basic .auto{
    font-size: 12px;
    color: #666;
    margin-top: 25px;
    position: relative;
}
.house_basic .auto input[type=checkbox] {
    margin-right: 4px;
    width: 14px;
    height: 14px;
    position: absolute;
    top: -2px;
    left: 65px;
    background: url("../img/many_unselect@2x.png") no-repeat;
    background-size: 100%;
}
.house_basic .auto input[type=checkbox]:checked {
    background: url("../img/many_select@2x.png") no-repeat;
    background-size: 100%;

}
.house_basic .auto input[type=checkbox] + label {
    font: 12px/17px 'PingFangSC-Regular';
    color: #333;
    margin-left: 20px;
}
.addTitle {
    display: flex;
    align-items: center;
    width: 100%;
    height: 32px;
    margin: 27px 0 26px;
    background-color: #f3f3f3;
}
.addTitle img {
    margin: auto 10px;
    width: 20px;
    height: 20px;
}
.addTitle span {
    font-size: 14px;
    margin: auto 15px;
}

.addContent_left {
    display: flex;
    align-items: center;
    width: 180px;
    height: 32px;
    font-size: 12px;
    margin-bottom: 20px;
}
.addContent_left img {
    margin: auto 10px;
    width: 20px;
    height: 20px;
}
.addContent_left input {
    height: 26px;
    margin: 0 5px;
    padding-left: 9px;
    border: 1px solid #ddd;
    border-radius: 2px;
}
.addContent_right {
    margin-left: 20px;
    border-left: #DDD solid 1px;
    padding-left: 0px;
    flex: 1;
}
.addContent_right .room {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    width: 60px;
    height: 40px;
    margin: 2px 0 0 15px;
    padding: 0 0px 0px 0;
}
.addContent_right .room img {
    position: absolute;
    display: none;
    width: 14px;
    height: 14px;
    top: -5px;
    right: -7px;
}
.addContent_right .room:hover img {
    display: block;
}


.category{display: flex; margin-bottom: 20px;}
.addContent_left .floor{width: 45px;}
.addContent_left .floor_num{position: relative; width: 60px; font-size: 12px;}
.addContent_left .floor_num input{width: 65px; height: 26px;padding-left: 15px}
.addContent_left .floor_num .dw{position: absolute; top: 6px; right:-3px}
.room_num{border:#ccc 1px solid;width: 59px;height: 28px;padding-left: 10px;background: #F3F3F3}
.addContent_right .room{font-size: 12px;}

.content button.submit {
    background: #2476E9;
    border-radius: 2px;
    width: 200px;
    height: 32px;
    color: white;
    font: 14px/20px 'PingFangSC-Regular';
    margin-left: 154px;
    margin-top: 40px;
}
.content button.submit {
    margin-bottom: 60px;
}