body {
  background-color: white;
  min-width: 0;
}

.content {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  margin-left: 20px;
}

.content i.close {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 12px;
  height: 12px;
  background: url("../img/close.png") no-repeat;
  background-size: 100%;
}

.content .title {
  color: #333333;
  margin-top: 25px;
  margin-bottom: 17px;
  font: 14px/20px 'PingFangSC-Medium';
}
.content .title .title_sub {
  font: 12px/20px 'PingFangSC-Regular';
  color: #151515;
}

.content form > ul {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
}
.content form > ul > li {
  display: -webkit-box;
  display: flex;
  height: 52px;
  -webkit-box-align: center;
  align-items: center;
}
.content form > ul > li > label {
  font: 12px/17px 'PingFangSC-Regular';
  color: #333;
  text-align: right;
  width: 54px;
}
.content form > ul > li > input {
  border: 1px solid #ccc;
  height: 32px;
  width: 220px;
  padding-left: 10px;
  border-radius: 2px;
  font: 12px/17px 'PingFangSC-Regular';
}
.content form > ul > li > select {
  width: 220px;
  padding-left: 10px;
}
.content form > ul > li i.warn {
  margin-left: 10px;
  font-style: normal;
  content: '12';
  width: 8px;
  height: 20px;
  color: #d7352c;
  font: 14px/20px 'PingFangSC-Regular';
  margin-right: 30px;
}

.content ul li input::-webkit-input-placeholder {
  color: #CCCCCC;
}

.content ul li input:-moz-placeholder {
  color: #CCCCCC;
}

.content ul li input::-moz-placeholder {
  color: #CCCCCC;
}

.content ul li input:-ms-input-placeholder {
  color: #CCCCCC;
}

.content button.save {
  background: #2476E9;
  border-radius: 2px;
  width: 200px;
  height: 32px;
  color: white;
  font: 14px/20px 'PingFangSC-Regular';
  margin-left: 114px;
  margin-top: 40px;
  margin-bottom: 60px;
}

.content input[type="radio"] {
  width: 20px;
  height: 20px;
  margin-left: 22px;
  margin-right: 10px;
  background: url("../img/radio_unselect@2x.png") no-repeat;
  background-size: 100%;
}

.content input[type="radio"]:checked {
  background: url("../img/radio_select@2x.png") no-repeat;
  background-size: 100%;
}

.content .hetong.line.depart {
  padding-top: 20px;
  margin-top: 1px;
  margin-bottom: 0px;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
}
.content .hetong.line.depart > span {
  width: 54px;
  text-align: right;
  font: 12px/15px 'PingFangSC-Regular';
}
.content .hetong.line.depart label {
  font: 12px/15px 'PingFangSC-Regular';
  width: 80px;
}

