<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout/layout">
<head>
    <link rel="icon" href="../../static/img/favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" href="../../static/img/favicon.ico" type="image/x-icon"/>
</head>
<body>
<div layout:fragment="content">
    <div class="pageTitle">
        业态管理 <i class="dot"></i> 修改楼宇
    </div>
    <div class="content">
        <form action="" id="buildingForm">
            <ul>
                <li>
                    <label for="companyName">公司名称：</label>
                    <input name="companyName" readonly type="text" id="companyName">
                </li>
                <li class="propertyId">
                    <label for="propertyId">隶属业态：</label>
                    <select class="selectpicker" th:placeholder="请选择隶属业态" id="propertyId" name="propertyId" >
                        <option th:each="propertyList:${propertyList}" th:text="${propertyList.PROPERTY_NAME}" th:value="${propertyList.ID}"></option>
                    </select>
                    <i class="warn">*</i>
                </li>
            </ul>
            <div class="title line">基本信息<span class="title_sub">（*为必填项）</span></div>
            <ul>
                <li>
                    <label for="buildingName">楼宇名称：</label>
                    <input name="buildingName" id="buildingName" placeholder="请输入楼宇名称">
                    <i class="warn">*</i>
                </li>
                <li>
                    <label for="buildingArea">楼宇区域：</label>
                    <input name="buildingArea" type="text" placeholder="请输入楼宇区域" id="buildingArea">
                    <i class="warn">*</i>
                </li>
            </ul>
            <ul>
                <li>
                    <label for="buildingDesc">楼宇描述：</label>
                    <input name="buildingDesc" type="text" placeholder="请输入楼宇描述" id="buildingDesc">
                    <i class="warn">*</i>
                </li>
                <li>
                    <label for="buildingPurpose">楼宇用途：</label>
                    <input name="buildingPurpose" type="text" placeholder="请输入楼宇用途" id="buildingPurpose">
                    <i class="warn">*</i>
                </li>
            </ul>
            <ul>

                <li>
                    <label for="ownerType">产权所有人类型：</label>
                    <select  class="selectpicker" title="请选择产权所有人类型" name="ownerType" id="ownerType" th:placeholder="请选择产权所有人类型">
                        <option value="COMPANY">公司</option>
                        <option value="INDIVIDUAL">个人</option>
                    </select>
                    <i class="warn">*</i>
                </li>
            </ul>
            <ul>
                <li>
                    <label for="ownerName">产权所有人名称：</label>
                    <input type="text" id="ownerName" name="ownerName" placeholder="请输入产选所有人">
                    <i class="warn">*</i>
                </li>
                <li>
                    <label for="ownerContact">产权所有人联系方式：</label>
                    <input type="text" id="ownerContact" name="ownerContact" placeholder="请输入产权所有人联系方式">
                    <i class="warn">*</i>
                </li>
            </ul>
            <ul>
                <li class="remark">
                    <label for="remark">备注：</label>
                    <textarea id="remark" name="remark" cols="5" rows="5" placeholder="请输入备注"></textarea>
                </li>
            </ul>
            <button type="button" class="save" onclick="save();">保存</button>
        </form>
    </div>
    <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="/lib/layui/css/layui.css">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/building_add.css">
    <script src="/js/jquery-2.1.4.js"></script>
    <script src="/js/base.js"></script>
    <script src="/lib/layui/layui.all.js"></script>
    <script src="/lib/bootstrap/js/bootstrap.js"></script>
        <script type="text/javascript" th:inline="javascript">
        $(function(){
            var initObj = [[${rout}]];
            var companyName = [[${companyName}]];
            $('input[name="companyName"]').val(companyName);
            $('#propertyId').val(initObj.propertyId);
            $('input[name="buildingName"]').val(initObj.buildingName);
            $('input[name="buildingArea"]').val(initObj.buildingArea);
            $('input[name="buildingDesc"]').val(initObj.buildingDesc);
            $('input[name="buildingPurpose"]').val(initObj.buildingPurpose);
            $('#ownerType').val(initObj.ownerType);
            $('input[name="ownerName"]').val(initObj.ownerName);
            $('input[name="ownerContact"]').val(initObj.ownerContact);
            $('textarea[name="remark"]').val(initObj.remark);
        });
        var _itemList = ['propertyId','buildingName','buildingArea','buildingDesc','buildingPurpose','ownerType','ownerName','ownerContact'];
        function save() {
            var initObj = [[${rout}]];
            var _itemDic = {};
            for(var i in _itemList){
                var key = _itemList[i];
                var value = $.trim($('#buildingForm li [name='+key+']').val());
                if(value.length == 0){
                    layer.msg($('#buildingForm li [name='+key+']').attr('placeholder'));
                    return;
                }
                _itemDic[key] = value;
            }
            var remark = $('textarea[name="remark"]').val();
            _itemDic.remark = remark;
            _itemDic.id = initObj.id;
            var check = false;
            var isMob=/(\d{11})|^((\d{7,8})|(\d{4}|\d{3})-(\d{7,8})|(\d{4}|\d{3})-(\d{7,8})-(\d{4}|\d{3}|\d{2}|\d{1})|(\d{7,8})-(\d{4}|\d{3}|\d{2}|\d{1}))$/;
            if(isMob.test($('#ownerContact').val())){
                check = true;
            }else{
                layer.msg("请输入正确的产权所有人联系方式");
                $('#ownerContact').focus();
                $("#ownerContact").val("");
                check = false;
                return;
            }
            if(check=true){
                $.ajax({
                    type:"POST",
                    dataType:"JSON",
                    data:_itemDic,
                    url:"/building/update/",
                    success:function(obj){
                        if(obj.code === '200'){
                            layer.msg('修改成功');
                            window.history.back();
                        }else{
                            layer.msg(obj.msg);
                        }
                    },error: function(){ //失败
                        layer.alert("服务器内部错误");
                    }
                })
            }

        }


    </script>
</div>
</body>
</html>