<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout/layout">
<head>
    <link rel="icon" href="../../static/img/favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" href="../../static/img/favicon.ico" type="image/x-icon"/>
</head>
<body>
<div layout:fragment="content">

    <div class="pageTitle">
        角色管理 <i class="dot"></i> 修改角色
    </div>

    <div class="content" id="role_func">
        <h3 class="tit">新建角色</h3>
        <div class="list clearfix">
            <div class="item clearfix">
                <lable class="name">角色名：</lable>
                <input type="text" name="name" placeholder="请输入角色名"/>
            </div>
            <div class="item clearfix headRadio" >
                <lable>角色状态：</lable>
                <input type="radio" id="open" value="NORMAL" name="status" checked>
                <label for="open" class="unselect">启用</label>
                <input type="radio" id="close" value="CLOSE" name="status">
                <label for="close" class="unselect">关闭</label>
            </div>
            <input type="hidden" id="funcs" name="funcs"/>
        </div>

        <h3 class="tit">选择角色权限</h3>

        <div class="list clearfix" th:each="role,i: ${roles}">
            <div class="checkAll">
                <input th:id="|checkAll${role.id}|" type="checkbox" onclick="selectOneMemu(this)" th:value="${role.id}" th:checked="${role.auth}" />
                <label th:for="|checkAll${role.id}|" >[[${role.name}]]</label>
            </div>

            <div class="itemWalp clearfix">

                <div class="item" th:each="subrole,j : ${role.subFunc}">
                    <h5>
                        <input th:id="|checkAllItem${subrole.id}|" th:onclick="|selectTwoMemu(${role.id},this)|" th:value="${subrole.id}"  th:checked="${subrole.auth}" type="checkbox" />
                        <label th:for="|checkAllItem${subrole.id}|">[[${subrole.name}]]</label>
                    </h5>
                    <ul class="selected">
                        <li th:each="grdrole,k : ${subrole.subFunc}">
                            <input th:onclick="|selectThreeMenu(${role.id},this)|" th:id="|checkItem${grdrole.id}|" th:value="${grdrole.id}" th:checked="${grdrole.auth}" type="checkbox"/>
                            <label th:for="|checkItem${grdrole.id}|">[[${grdrole.name}]]</label>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <button class="submit" onclick="submitClick()">确定</button>
        <link rel="stylesheet" href="/lib/layui/css/layui.css">
        <link rel="stylesheet" href="/css/base.css">
        <link rel="stylesheet" href="/css/role_add.css">

        <script src="/js/jquery-2.1.4.js"></script>
        <script src="/lib/layui/layui.all.js"></script>
        <script src="/js/base.js"></script>
        <script type="text/javascript" th:inline="javascript">
            $(function(){
                initForm();
            });

            function initForm(){
                var obj = [[${rout}]];
                console.log(obj);
                $('input[name="status"][value="'+obj.status+'"]').attr("checked",true);
                $('input[name="name"]').attr('value',(obj.name));
            }

            function submitClick() {

//            var validate = $("#roleform").form('validate')
//            if (!validate) {
//                $("#roleform").find(".validatebox-invalid:first").focus();
//                return false
//            }

                var name = $('input[name="name"]').val().trim();
                if(name.length == 0){
                    layer.msg('请输入角色名');
                    return;
                }

                var str=[];
                $("#role_func").find('input[type=checkbox]:checked').each(function(){
                    str.push($(this).val());
                });
                $("#funcs").val(str);
                if(str == '') {
                    layer.msg('请选择权限');
                    return false;
                }
                var status = $('input[name="status"]:checked').val();

                $.ajax({
                    url:'/role/update',
                    dataType:'json',
                    data:{
                        id:[[${rout}]].id,
                        name:name,
                        status:status,
                        funcs:str.toString()
                    },
                    type:'POST',
                    success:function(obj){
                        console.log(obj);
                        if(obj.code === '200'){
                            layer.msg('修改成功');
                            setTimeout(function(){
                                window.history.back();
                            },500);
                        }else{
                            layer.msg(obj.msg);
                        }
                    },error: function(){ //失败
                        layer.alert("服务器内部错误");
                    }
                });
            }


            //单击一级权限
            function selectOneMemu(self) {
                var selectValue = [];
                var parentDom = $(self).parents('div.list.clearfix')
                var parentDomWalp = $(self).parents('div.content')
                if(self.checked){
                    parentDom.find('input:checkbox').prop("checked", true);
                    var arrDom = parentDomWalp.find('input:checked')
                    for(i=0; i<arrDom.length; i++){
                        selectValue.push($(arrDom[i]).val())
                    }
                    console.log(selectValue)
                }else{
                    selectValue = [];
                    parentDom.find('input:checkbox').prop("checked", false);
                    var arrDom = parentDomWalp.find('input:checked')
                    for(i=0; i<arrDom.length; i++){
                        selectValue.push($(arrDom[i]).val())
                    }
                    console.log(selectValue)
                }
            }

            //单击二级权限
            function selectTwoMemu(oneId,self) {
                var selectValue = [];
                //计算二级菜单的长度
                var twoMenuLenght = $(self).parents('.itemWalp').find('.item h5').length
                //计算二级菜单被选中的长度
                var twoMenuCheckedLenght = $(self).parents('.itemWalp').find('.item h5 input:checked').length
                var parentDom = $(self).parents('div.list.clearfix')
                var parentDomWalp = $(self).parents('div.content')
                if(self.checked){
                    $(self).parents('.item').find('input:checkbox').prop("checked", true);
                    $(self).parents('.list').find('#checkAll'+oneId).prop("checked", true)

                    var arrDom = parentDomWalp.find('input:checked')
                    for(i=0; i<arrDom.length; i++){
                        selectValue.push($(arrDom[i]).val())
                    }
                    console.log(selectValue)

                }else{
                    $(self).parents('.item').find('input:checkbox').prop("checked", false);
                    if(twoMenuCheckedLenght == 0){
                        $(self).parents('.list').find('#checkAll'+oneId).prop("checked", false)
                    }else{
                        $(self).parents('.list').find('#checkAll'+oneId).prop("checked", true)
                    }
                    var arrDom = parentDomWalp.find('input:checked')
                    for(i=0; i<arrDom.length; i++){
                        selectValue.push($(arrDom[i]).val())
                    }
                    console.log(selectValue)
                }
            }

            //单击三级权限
            function selectThreeMenu(oneId,self) {

                var parentDom = $(self).parents('div.list.clearfix')
                var parentDomWalp = $(self).parents('div.content')
                var selectValue = [];
                if(self.checked){
                    //$('#checkAllItem'+twoId).prop("checked", true);
                    $(self).parents('.item').find('h5 input').prop("checked", true)
                    $(self).parents('.list').find('#checkAll'+oneId).prop("checked", true)
                    var arrDom = parentDomWalp.find('input:checked')
                    for(i=0; i<arrDom.length; i++){
                        selectValue.push($(arrDom[i]).val())
                    }
                    console.log(selectValue)

                }else{
                    var check3Lentht = $(self).parents('ul').find('li input:checked').length;
                    if(check3Lentht == 0){
                        $(self).parents('.item').find('h5 input').prop("checked", false)
                    }else{
                        $(self).parents('.item').find('h5 input').prop("checked", true)
                    }
                    var check2Lentht = $(self).parents('.itemWalp').find('.item h5 input:checked').length;
                    if(check2Lentht == 0){
                        $('#checkAll'+oneId).prop("checked", false);
                    }else{
                        $('#checkAll'+oneId).prop("checked", true);
                    }
                    var arrDom = parentDomWalp.find('input:checked')
                    for(i=0; i<arrDom.length; i++){
                        selectValue.push($(arrDom[i]).val())
                    }
                    console.log(selectValue)
                }

            }

        </script>
    </div>
</body>
</html>