<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shenxin.core.smartpropertymanagement.persist.mapper.UserAuthMapper">

    <resultMap id="BaseResultMap" type="com.shenxin.core.smartpropertymanagement.persist.entity.SysFunctionDAO" >
        <id column="ID" property="id" jdbcType="DECIMAL" />
        <result column="PARENT_ID" property="parentId" jdbcType="DECIMAL" />
        <result column="GRADE" property="grade" jdbcType="CHAR" />
        <result column="FUNC_NAME" property="funcName" jdbcType="VARCHAR" />
        <result column="FUNC_URI" property="funcUri" jdbcType="VARCHAR" />
        <result column="FUNC_TYPE" property="funcType" jdbcType="VARCHAR" />
        <result column="AUTH_CODE" property="authCode" jdbcType="VARCHAR" />
        <result column="FUNC_STATUS" property="funcStatus" jdbcType="VARCHAR" />
        <result column="ORDER_BY" property="orderBy" jdbcType="DECIMAL" />
        <result column="LOGO" property="logo" jdbcType="VARCHAR" />
    </resultMap>

    <resultMap id="RoleResultMap" type="com.shenxin.core.smartpropertymanagement.persist.entity.SysRoleDAO" >
        <id column="ID" property="id" jdbcType="DECIMAL" />
        <result column="COMPANY_ID" property="companyId" jdbcType="DECIMAL" />
        <result column="NAME" property="name" jdbcType="VARCHAR" />
        <result column="ROLE_STATUS" property="roleStatus" jdbcType="VARCHAR" />
    </resultMap>

    <select id="getAuthByUserId" parameterType="java.math.BigDecimal" resultMap="BaseResultMap">
        <![CDATA[
        SELECT
        F.ID, F.PARENT_ID, F.GRADE, F.FUNC_NAME, F.FUNC_URI, F.FUNC_TYPE, F.AUTH_CODE, F.FUNC_STATUS, F.ORDER_BY, F.LOGO
        FROM
        SYS_USER U,rl_user_role UR,SYS_ROLE R,rl_role_func RF,SYS_FUNCTION F
        WHERE
        U.ID = #{userId}
        AND U.ID = UR.USER_ID
        AND R.ID = UR.ROLE_ID
        AND R.ID = RF.ROLE_ID
        AND F.ID = RF.FUNC_ID]]>
    </select>

    <select id="getRoleByUserId" parameterType="java.math.BigDecimal" resultMap="RoleResultMap">
        <![CDATA[
        SELECT
        R.ID, R.NAME, R.ROLE_STATUS
        FROM
        SYS_USER U,rl_user_role UR,SYS_ROLE R
        WHERE
        U.ID = #{userId}
        AND U.ID = UR.USER_ID
        AND R.ID = UR.ROLE_ID]]>
    </select>
</mapper>